[Unit]
Description=Xray Stats Telegram Service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/xray-stats-telegram
Restart=always
User=nobody
Group=nogroup
Environment=BOT_TOKEN=<bot-token>
